<div class="container padding-y">
  <h1> Personal Info </h1>
  <p>Tell us a bit about yourself. This information will appear on your public profile, so that potential tutees can get
    to know you better.</p>
  <br>
  <hr>

  <!-- ============================ COMPONENT SIGNUP 2  ================================= -->
  <div class="card">
    {{>_errors}} {{!-- views/partials/_errors.handlebars --}}

    <article class="card-body">
      <form class="block-register" method="POST" action="/tutor_onboarding/personal_info_upload">
        <div class="form-group form-row">
          <label class="col-md-3 col-form-label">Full Name <br> <span class="text-muted">This will be
              private</span></label>
          <div class="col">
            <input class="form-control" type="text" name="first_name" placeholder="first name" value="{{user.FirstName}}"
              required>
          </div>
          <div class="col">
            <input class="form-control" type="text" name="last_name" placeholder="first name" value="{{user.LastName}}"
              required>
          </div>
        </div>

        <div class="form-group form-row">
          <label class="col-md-3 col-form-label">Profile Picture</label>
          <div class="col-md-3">
            <img id="profilePicture" src="/images/profilepictures/{{user.Profile_pic}}" class="img-md rounded-circle border">
            <div style="position:relative; ">
              <input type="file" name="profilePictureUpload" id="profilePictureUpload" accept="image/png,image/jpeg,image/jpg,image/gif">
            <div class="font-weight-bold text-danger small" id="profilePictureErr" style="display:none"></div>
            </div>
          </div>

        </div>
        <div class="form-group form-row">
          <label class="col-md-3 col-form-label">Description</label>
          <div class="col-9">
            <textarea class="form-control" id="description" name="description" rows="3"
              placeholder="Share a bit about your work experience, cool projects you’ve completed, and your area of expertise.">{{user.description}}</textarea>

            {{!-- {{ render_field(form.description,class = "form-control",placeholder="Share a bit about your work
            experience, cool projects you’ve completed, and your area of expertise.", maxlength="600",
            value=session['description']) }} --}}
          </div>
        </div>
        <!--
  <div class="form-group form-row">
    <label class="col-md-3 col-form-label">Languages</label>
    <div class="col">
        {{!-- {{ render_field(form.language,class="form-control",placeholder="Language", value="English" )}} --}}
    </div>
    <div>
        {{!-- {{ render_field(form.proficiency,class="form-control", placeholder="Proficiency") }} --}}
    </div>
  </div> -->
        <button class="btn btn-primary float-right" type="submit">Continue</button>

      </form>
    </article> <!-- card-body end .// -->
  </div> <!-- card.// -->
  <!-- ============================ COMPONENT SIGNUP 2 END.// ================================= -->
</div>

<script>
  $('#profilePictureUpload').on('change', function () {
    let image = $("#profilePictureUpload")[0].files[0];
    let formdata = new FormData();
    formdata.append('profilePictureUpload', image);
    $.ajax({
      url: '/tutor_onboarding/profilePictureUpload',
      data: formdata,
      contentType: false,
      processData: false,
      type: 'POST',
      'success': (data) => {
        console.log(data.file);
        $('#profilePicture').attr('src', data.file);
        if (data.err) {
          $('#profilePictureErr').show();
          $('#profilePictureErr').text(data.err.message);
        } else {
          $('#profilePictureErr').hide();
        }
      }
    });
  });

</script>