<h1>
    Thank you for registering your institution in Tutorhub!
    <br>
    <br>
    Below are the details of your registration. Please do note it will take about <br>
    2 to 3 business days to approve your registration. Thank you.
</h1>
<p>
    Institution details <br>
    Institution Name: {{name}} &nbsp;&nbsp;&nbsp; Address: {{address}} <br>
    Postal Code: {{postalcode}} &nbsp;&nbsp;&nbsp; Email: {{iemail}} <br>
    Institution's website: {{url}} &nbsp;&nbsp;&nbsp; Office No: {{officeno}} <br>
    <br>
    Registered admin details <br>
    First Name: {{Fname}} <br>
    Last Name: {{Lname}} <br>
    Phone No: {{phoneno}} <br>
    Email: {{aemail}} <br>
</p>