{{!-- {% if session.get('istutor') != True %}
{% extends "profile/__profile_base.html" %}
{% else %}
{% extends "tutor_interface/base.html" %}
{% endif %}

{% block title %}TutorHub - Profile Page{% endblock %}

{% block content %} --}}
<script type="text/javascript">
    /// some script

    // jquery ready start
    $(document).ready(function () {
        // jQuery code


        /////////////////  items slider. /plugins/owlslider/
        if ($('.slider-items-owl').length > 0) { // check if element exists
            $('.slider-items-owl').owlCarousel({
                //change the loop daddy
                loop: false,
                nav: true,
                autoWidth: true,
                margin: 10,
                navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
                responsive: {
                    0: {
                        items: 1
                    },
                    640: {
                        items: 2
                    },
                    1024: {
                        items: 3
                    }
                }
            })
        } // end if




    });
// jquery end


</script>
<style>
    .profile-head {
        transform: translateY(5rem)
    }

    .cover {
        background-size: cover;
        background-repeat: no-repeat
    }
</style>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg padding-y">
    <div class="container">
        <h2 class="title-page">Settings</h2>
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <ul class="list-group">
                    <a class="list-group-item active" href="#"> My Account </a>
                    <a class="list-group-item" href="/shop/viewOrderHistory"> Order History </a>
                </ul>
            </aside> <!-- col.// -->
            <div class="col-md-7 mx-auto">
                <!-- Profile widget -->
                <div class="bg-white shadow rounded overflow-hidden">
                    <div class="px-4 pt-0 pb-4 cover" style="background-image: url(/images/background/{{extra.background}}), url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);">
                        <div class="media align-items-end profile-head">
                            <div class="profile mr-3"><img src="/images/profilepictures/{{user.Profile_pic}}" alt="..."
                                    width="130" class="rounded mb-2 img-thumbnail"><a href="/user/editProfile"
                                    class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></div>
                            <div class="media-body mb-5" style="color: {{extra.color}}">
                                <h4 class="mt-0 mb-0">{{user.FirstName}} {{user.LastName}}</h4>
                                <p class="small mb-4"> {{user.Username}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light p-4 d-flex justify-content-end text-center">
                        {{#if affiliation}}
                        Affiliated with
                        <img src="/images/Institutionpictures/{{affiliation.dataValues.mainlogo}}" width="80px" height="40px" alt="">
                        {{/if}}
                        <div class="col-md-1"></div>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">0</h5><small class="text-muted"> <i
                                        class="fas fa-image mr-1"></i>No. of Sessions</small>
                            </li>
                            <li class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">0</h5><small class="text-muted"> <i class="fas fa-clock"></i>Total No. of Hours</small>
                            </li>
                        </ul>
                    </div>
                    <div class="px-4 py-3">
                        <h5 class="mb-0">About</h5>
                        <div class="p-4 rounded shadow-sm bg-light">
                            {{#if user.description}}
                            {{user.description}}
                            {{else}}
                            The user has not written a description of themself.
                            {{/if}}
                        </div>
                    </div>
                    <div class="py-4 px-4">
                    {{#if coursesarray}}
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">My Courses</h5>
                    </div>
                    <div class="slider-items-owl owl-carousel owl-theme" style="margin-left:2em;">
                        {{#each coursesarray }}
                        <div class="item-slide">
                            <figure class="card card-product-grid" style="width: 18rem;">
                                <img class="card-img-top" src="/images/coursethumbnails/{{Course_thumbnail}}"
                                    height="140" width="240">
                                <div class="widget-header">
                                    <a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10">
                                        <div class="icon">
                                        <div class="text">
                                            <small class="text-muted">{{userobject.FirstName}}
                                                {{userobject.LastName}}</small> <br>
                                        </div>
                                    </a>
                                </div>
                                <figcaption class="info-wrap">
                                    <h4 class="title" style="font-size:1.3em; height:58px"><a
                                            href="/course/updatecourse/{{course_id}}">{{Title}}</a></h4>
                                    <p class="text-muted" style="font-size:0.9em; height:58px">{{Short_description}}
                                    </p>
                                    <br>
                                    <h5>${{Hourlyrate}}/Hour</h5>
                                </figcaption>
                            </figure> <!-- card // -->
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
    <div class="container">
        <p class="float-md-right">
            &copy Copyright 2019 All rights reserved
        </p>
        <p>
            <a href="#">Terms and conditions</a>
        </p>
    </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

{{!-- {% endblock %} --}}