<div class="container" style="width: 85%; padding-top: 50px; margin-top: 50px; padding-left: 50px;">
	<!-- ========================= SECTION CONTENT ========================= -->
	<section class="section-content padding-y">

		<!-- ============================ COMPONENT REGISTER   ================================= -->
		<div class="bg-white shadow rounded overflow-hidden" style="margin-top:40px;">
			<article class="card-body">
				{{#with admin}}
				<header class="mb-4">
					<h2 class="card-title">Edit Profile</h2>
				</header>
				<form method="POST" action="/admin/editprofile" enctype="multipart/form-data">
					<div class="px-4 py-3">
						<h4 class="mb-0" style="padding-bottom: 10px;">Personal Info</h4>
						<div class="img bg-wrap text-center py-5 rounded" id="output2"
							style="background-image: url(/admin/images/adminBackgroundPictures/bg_1.jpg);">
							<div class="form-row">
								<div class="col-xs-12 col-xl-4 form-group d-flex align-items-center">
									<div class="work d-flex justify-content-center">
										<div class="img rounded-circle d-flex align-items-center justify-content-center image-upload"
											id="output"
											style="height: 180px; width: 180px; background-image: url(/admin/images/adminProfilePictures/{{../user.Profile_pic}});">
											<label for="profile_pic">
												<a class="icon d-flex align-items-center justify-content-center"
													style="height: 180px; width: 180px; background-color: rgb(255, 255, 255, 0.4);">
													<span class="fas fa-edit"
														style="color: white; text-shadow: 2px 2px 5px black;"></span>
												</a>
											</label>
											<input type="file" name="profile_pic" id="profile_pic"
												accept="image/png,image/jpeg,image/jpg,image/gif"
												onchange="loadFile(event)">
											<input type="file" name="background_img" id="background_img"
												accept="image/png,image/jpeg,image/jpg,image/gif"
												onchange="loadFile2(event)">
										</div>
									</div>
								</div>
								<div class="col-xs-4 col-xl-7 form-group d-flex justify-content-center">
									<div class="p-4 rounded shadow-sm bg-light">
										<div class="form-row">
											<div class="col-sm-12 col-md-6 form-group">
												<label class="row-form-label">First Name</label>
												<input class="form-control" type="text" id="firstname" name="firstname"
													value="{{../user.FirstName}}" required>
											</div> <!-- form-group end.// -->
											<div class="col-sm-12 col-md-6 form-group">
												<label class="row-form-label">Last Name</label>
												<input class="form-control" type="text" id="lastname" name="lastname"
													value="{{../user.LastName}}" required>
											</div> <!-- form-group end.// -->
										</div> <!-- form-row end.// -->
										<div class="form-group">
											<label class="col-form-label">Username</label>
											<input class="form-control" type="text" id="username" name="username"
												value="{{../user.Username}}" required>
										</div> <!-- form-group end.// -->
									</div>
								</div>
							</div>
							<label for="background_img" class="pull-right rounded"
								style="color: white; background-color: rgb(0, 0, 0, 0.6); margin-right: 15px; padding-left: 5px; padding-right: 5px;">
								<a><span class="fas fa-edit" style="color: white;"></span> Edit Background</a>
							</label>
						</div>
					</div>

					<div class="form-row">
						<div class="col form-group">
							<div class="px-4 py-3">
								<h4 class="mb-0" style="padding-bottom: 10px;">About</h4>
								<div class="p-4 rounded shadow-sm bg-light">
									<div class="form-group">
										<label class="col-form-label">Language</label>
										<input class="form-control" type="text" id="language" name="language"
											value="{{Language}}" required>
									</div> <!-- form-group end.// -->

									<div class="form-group">
										<label class="col-form-label">Region</label>
										<input class="form-control" type="text" id="region" name="region"
											value="{{Region}}" required>
									</div> <!-- form-group end.// -->

									<div class="form-group">
										<label class="col-form-label">Description</label>
										<textarea style="min-height: 125px;" class="form-control" id="description"
											name="description" required>{{Description}}</textarea>
									</div> <!-- form-group end.// -->
								</div>
							</div>
						</div>

						<div class="col form-group">
							<div class="px-4 py-3">
								<h4 class="mb-0" style="padding-bottom: 10px;">Contact</h4>
								<div class="p-4 rounded shadow-sm bg-light">
									<div class="form-group">
										<label class="col-form-label">Email</label>
										<input class="form-control" type="text" id="email" name="email"
											value="{{../user.Email}}" required>
									</div> <!-- form-group end.// -->

									<div class="form-group">
										<label class="col-form-label">Phone Number</label>
										<input class="form-control" type="text" id="phonenumber" name="phonenumber"
											value="{{PhoneNumber}}" required>
									</div> <!-- form-group end.// -->
								</div>
							</div>
						</div>
					</div>

					<div class="px-4 py-3">
						<h4 class="mb-0" style="padding-bottom: 10px;">Upload Certificate</h4>
						<div class="p-4 rounded shadow-sm bg-light">
							<div class="form-group">
								<input type="file" name="certificate" id="certificate"
									accept="image/png,image/jpeg,image/jpg,image/gif" multiple>
							</div> <!-- form-group end.// -->
						</div>
					</div>

					<br><br>
					<div class="form-group d-flex justify-content-center">
						<button id="updateadmin" type="submit" value="submit"
							class="btn btn-primary btn-block col-sm-12 col-md-6"> Save Changes </button>
					</div> <!-- form-group// -->
				</form>

				{{else}}
				<header class="mb-4">
					<h2 class="card-title">Edit Profile</h2>
				</header>
				<form method="POST" action="/admin/editprofile" enctype="multipart/form-data">
					<div class="px-4 py-3">
						<h4 class="mb-0" style="padding-bottom: 10px;">Personal Info</h4>
						<div class="img bg-wrap text-center py-5 rounded" id="output2"
							style="background-image: url(/admin/images/adminBackgroundPictures/bg_1.jpg);">
							<div class="form-row">
								<div class="col-xs-12 col-xl-4 form-group d-flex align-items-center">
									<div class="work d-flex justify-content-center">
										<div class="img rounded-circle d-flex align-items-center justify-content-center image-upload"
											id="output"
											style="height: 180px; width: 180px; background-image: url(/admin/images/adminProfilePictures/{{user.Profile_pic}});">
											<label for="profile_pic">
												<a class="icon d-flex align-items-center justify-content-center"
													style="height: 180px; width: 180px; background-color: rgb(255, 255, 255, 0.4);">
													<span class="fas fa-edit"
														style="color: white; text-shadow: 2px 2px 5px black;"></span>
												</a>
											</label>
											<input type="file" name="profile_pic" id="profile_pic"
												accept="image/png,image/jpeg,image/jpg,image/gif"
												onchange="loadFile(event)">
											<input type="file" name="background_img" id="background_img"
												accept="image/png,image/jpeg,image/jpg,image/gif"
												onchange="loadFile2(event)">
										</div>
									</div>
								</div>
								<div class="col-xs-4 col-xl-7 form-group d-flex justify-content-center">
									<div class="p-4 rounded shadow-sm bg-light">
										<div class="form-row">
											<div class="col-sm-12 col-md-6 form-group">
												<label class="row-form-label">First Name</label>
												<input class="form-control" type="text" id="firstname" name="firstname"
													value="{{user.FirstName}}" required>
											</div> <!-- form-group end.// -->
											<div class="col-sm-12 col-md-6 form-group">
												<label class="row-form-label">Last Name</label>
												<input class="form-control" type="text" id="lastname" name="lastname"
													value="{{user.LastName}}" required>
											</div> <!-- form-group end.// -->
										</div> <!-- form-row end.// -->
										<div class="form-group">
											<label class="col-form-label">Username</label>
											<input class="form-control" type="text" id="username" name="username"
												value="{{user.Username}}" required>
										</div> <!-- form-group end.// -->
									</div>
								</div>
							</div>
							<label for="background_img" class="pull-right rounded"
								style="color: white; background-color: rgb(0, 0, 0, 0.6); margin-right: 15px; padding-left: 5px; padding-right: 5px;">
								<a><span class="fas fa-edit" style="color: white;"></span> Edit Background</a>
							</label>
						</div>
					</div>

					<div class="form-row">
						<div class="col form-group">
							<div class="px-4 py-3">
								<h4 class="mb-0" style="padding-bottom: 10px;">About</h4>
								<div class="p-4 rounded shadow-sm bg-light">
									<div class="form-group">
										<label class="col-form-label">Language</label>
										<input class="form-control" type="text" id="language" name="language"
											value="{{Language}}" required>
									</div> <!-- form-group end.// -->

									<div class="form-group">
										<label class="col-form-label">Region</label>
										<input class="form-control" type="text" id="region" name="region"
											value="{{Region}}" required>
									</div> <!-- form-group end.// -->

									<div class="form-group">
										<label class="col-form-label">Description</label>
										<textarea style="min-height: 125px;" class="form-control" id="description"
											name="description" required>{{Description}}</textarea>
									</div> <!-- form-group end.// -->
								</div>
							</div>
						</div>

						<div class="col form-group">
							<div class="px-4 py-3">
								<h4 class="mb-0" style="padding-bottom: 10px;">Contact</h4>
								<div class="p-4 rounded shadow-sm bg-light">
									<div class="form-group">
										<label class="col-form-label">Email</label>
										<input class="form-control" type="text" id="email" name="email"
											value="{{user.Email}}" required>
									</div> <!-- form-group end.// -->

									<div class="form-group">
										<label class="col-form-label">Phone Number</label>
										<input class="form-control" type="text" id="phonenumber" name="phonenumber"
											value="{{PhoneNumber}}" required>
									</div> <!-- form-group end.// -->
								</div>
							</div>
						</div>
					</div>

					<div class="px-4 py-3">
						<h4 class="mb-0" style="padding-bottom: 10px;">Upload Certificate</h4>
						<div class="p-4 rounded shadow-sm bg-light">
							<div class="form-group">
								<input type="file" name="certificate" id="certificate"
									accept="image/png,image/jpeg,image/jpg,image/gif" multiple>
							</div> <!-- form-group end.// -->
						</div>
					</div>

					<br><br>
					<div class="form-group d-flex justify-content-center">
						<button id="updateadmin" type="submit" value="submit"
							class="btn btn-primary btn-block col-sm-12 col-md-6"> Save Changes </button>
					</div> <!-- form-group// -->
				</form>
				{{/with}}
			</article><!-- card-body.// -->
		</div> <!-- card .// -->
		<p class="text-center mt-4"><a href="/admin/profile" style="color: white; text-shadow: 2px 2px 5px black;">Back
				to Profile</a></p>
		<br>
		<p class="text-center"><a href="/admin" style="color: white; text-shadow: 2px 2px 5px black;">Back to Home</a>
		</p>
		<br><br>
		<!-- ============================ COMPONENT REGISTER  END.// ================================= -->
	</section>
	<!-- ========================= SECTION CONTENT END// ========================= -->

</div>

{{!-- <div class="px-4 py-3">
	<h5 class="mb-0" style="padding-bottom: 10px;">Upload Certificate</h5>
	<div class="p-4 rounded shadow-sm bg-light">
		<div class="form-group">
			<input class="fileNames" type="hidden">
			<input class="files" onchange="createFileInput(this)" type="file" name="certificate" id="certificate"
				accept="image/png,image/jpeg,image/jpg,image/gif">
			<img src="" alt="">
		</div> <!-- form-group end.// -->
	</div>
	<button onclick="getFiles()">Get File</button>
</div> --}}

{{!-- <div class="px-4 py-3" id="admincertdiv">
	<h5 class="mb-0" style="padding-bottom: 10px;">Certificate</h5>
	<div class="p-4 rounded shadow-sm bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="featured-carousel owl-carousel">
						<div class="item">
							<div class="work">
								<div class="img d-flex align-items-center justify-content-center rounded"
									style="background-image: url(/images/work-1.jpg);">
									<a href="#" class="icon d-flex align-items-center justify-content-center">
										<span class="ion-ios-search"></span>
									</a>
								</div>
								<div class="text pt-3 w-100 text-center">
									<h3><a href="#">Work 01</a></h3>
									<span>Web Design</span>
								</div>
								<input type="file" name="certificate" id="certificate"
									accept="image/png,image/jpeg,image/jpg,image/gif">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script id="file-upload-template" type="text/x-handlebars-template">
		<li class="removable_row">
			<div class="file-field">
				<label class="file required" for="{{field_id}}"><abbr title="required">*</abbr> Attachment</label>
				<input class="file required" id="{{field_id}}" name="{{field_name}}" type="file" />
			</div>
		</li>
	</script>

<div class="file-uploader">
</div> --}}