<div class="container" style="width: 75%; padding-top: 50px; margin-top: 50px; padding-left: 50px;">
    <br><br>
    <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4 cover">
            <div class="media align-items-end profile-head" style="padding-top: 20px;">
                <div class="profile mr-3"><img src="/admin/images/adminProfilePictures/{{user.Profile_pic}}" alt="..."
                        width="130" class="rounded mb-2 img-thumbnail"><a href="/admin/editprofile"
                        class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></div>
                <div class="media-body mb-auto text-white">
                    <h4 class="mt-0 mb-0">{{user.FirstName}} {{user.LastName}}</h4>
                    <h5 class="mt-0 mb-0 text-secondary">{{user.Username}}</h5>
                </div>
            </div>
        </div>

        <div class="px-4 py-3">
            <h5 class="mb-0" style="padding-bottom: 10px;">About</h5>
            <div class="p-4 rounded shadow-sm bg-light">
                <h5 class="mt-0 mb-0">Date Joined : YYYY/MM/DD</h5>
                <h5 class="mt-0 mb-0" style="padding-top: 10px;">
                    {{#if (ifSame user.AccountTypeID 3)}}
                    Role : Admin
                    {{/if}}
                    {{#if (ifSame user.AccountTypeID 7)}}
                    Role : SuperUser Admin
                    {{/if}}
                </h5>
                <h5 class="mt-0 mb-0" style="padding-top: 10px;">Language : English</h5>
                <h5 class="mt-0 mb-0" style="padding-top: 10px;">Region : Singapore</h5>
                <h5 class="mt-0 mb-0" style="padding-top: 10px;">Description : </h5>
            </div>
        </div>

        <div class="px-4 py-3">
            <h5 class="mb-0" style="padding-bottom: 10px;">Contact</h5>
            <div class="p-4 rounded shadow-sm bg-light">
                <h5 class="mt-0 mb-0">Email : {{user.Email}}</h5>
                <h5 class="mt-0 mb-0" style="padding-top: 10px;">Phone Number : </h5>
            </div>
        </div>

        <div class="px-4 py-3" id="admincertdiv">
            <h5 class="mb-0" style="padding-bottom: 10px;">Certificate</h5>
            <div class="p-4 rounded shadow-sm bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="featured-carousel owl-carousel">
                                <div class="item">
                                    <div class="work">
                                        <div class="img d-flex align-items-center justify-content-center rounded"
                                            style="background-image: url(/images/work-1.jpg);">
                                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                                <span class="ion-ios-search"></span>
                                            </a>
                                        </div>
                                        <div class="text pt-3 w-100 text-center">
                                            <h3><a href="#">Work 01</a></h3>
                                            <span>Web Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="work">
                                        <div class="img d-flex align-items-center justify-content-center rounded"
                                            style="background-image: url(/images/work-2.jpg);">
                                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                                <span class="ion-ios-search"></span>
                                            </a>
                                        </div>
                                        <div class="text pt-3 w-100 text-center">
                                            <h3><a href="#">Work 02</a></h3>
                                            <span>Web Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="work">
                                        <div class="img d-flex align-items-center justify-content-center rounded"
                                            style="background-image: url(/images/work-3.jpg);">
                                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                                <span class="ion-ios-search"></span>
                                            </a>
                                        </div>
                                        <div class="text pt-3 w-100 text-center">
                                            <h3><a href="#">Work 03</a></h3>
                                            <span>Web Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="work">
                                        <div class="img d-flex align-items-center justify-content-center rounded"
                                            style="background-image: url(/images/work-4.jpg);">
                                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                                <span class="ion-ios-search"></span>
                                            </a>
                                        </div>
                                        <div class="text pt-3 w-100 text-center">
                                            <h3><a href="#">Work 04</a></h3>
                                            <span>Web Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="work">
                                        <div class="img d-flex align-items-center justify-content-center rounded"
                                            style="background-image: url(/images/work-5.jpg);">
                                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                                <span class="ion-ios-search"></span>
                                            </a>
                                        </div>
                                        <div class="text pt-3 w-100 text-center">
                                            <h3><a href="#">Work 05</a></h3>
                                            <span>Web Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="work">
                                        <div class="img d-flex align-items-center justify-content-center rounded"
                                            style="background-image: url(/images/work-6.jpg);">
                                            <a href="#" class="icon d-flex align-items-center justify-content-center">
                                                <span class="ion-ios-search"></span>
                                            </a>
                                        </div>
                                        <div class="text pt-3 w-100 text-center">
                                            <h3><a href="#">Work 06</a></h3>
                                            <span>Web Design</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
</div>