<div class="container padding-y">
   <h1>Edit Course</h1>
   <hr>

<!-- ============================ COMPONENT SIGNUP 2  ================================= -->
<div class="card">
<article class="card-body">
{{#with course}}
<form class="block-register" method="POST" action="/course/editcourse/{{course_id}}">
  <div class="form-group form-row">
    <label class="col-md-3 col-form-label">Course Title</label>
    <div class="col">
        <input class="form-control" type="text" id="coursetitle" name="coursetitle" value="{{Title}}" placeholder="Enter Something Eye-Catching" required>    
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-md-3 col-form-label">Course Thumbnail</label>
    <div class="col-md-3">
      <img  src="/images/coursethumbnails/{{Course_thumbnail}}" width="240" height="135" class="border">
        <div style="position:relative; ">
          <input type="file" name="image" id="image">
           {{#if extensionerror }}
            <p  style="color:red;" class="error"><strong>Error:</strong> {{ extensionerror }}
          {{/if }}
        </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-md-3 col-form-label">Categories</label>
    <div class="col">
        <select class="form-control" id="category" name="category" value="{{Category}}" required>
          <option disabled selected>CATEGORIES</option>
          <option value="GRAPHIC DESIGN">GRAPHICS &#38; DESIGN</option>
          <option value="DIGITAL MARKETING">DIGITAL MARKETING</option>
        </select>
    </div>
      <div class="col">
        <select class="form-control" id="subcategory" name="subcategory" value="{{Subcategory}}" required></select>
    </div>
    <div>
    </div>
  </div>
     <div class="form-group form-row">
    <label class="col-md-3 col-form-label">Short Description</label>
     <div class="col-9">
         <input class="form-control" type="text" id="short_description" name="short_description" value="{{Short_description}}" placeholder="Brief summary of what will be taught" required>    
     </div>
  </div>
  <div class="form-group form-row">
    <label class="col-md-3 col-form-label">Description</label>
     <div class="col-9">
        <textarea class="form-control" type="text" id="description" name="description">{{Description}}</textarea>
     </div>
  </div>
  <button class="btn btn-primary float-right" type="submit">Finish</button>

</form>
{{/with}}
</article> <!-- card-body end .// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT SIGNUP 2 END.// ================================= -->
 </div>
<script>

    let category_select = document.getElementById('category');
    let subcategory_select = document.getElementById('subcategory');

    category_select.onchange = function() {
        category = category_select.value;

        fetch('/course/category/' + category).then(function(response){
            response.json().then(function(data) {
                console.table(data);
                let optionHTML = '';
                for(let subcategories in data.subcategories){

                    optionHTML += '<option value ="' + data.subcategories[subcategories] + '">' + data.subcategories[subcategories] + '</option>';
                }
                subcategory_select.innerHTML = optionHTML;
            });
        });
    }
</script>